h3 {
   color: brown;
}

img {
   border-radius: 8px;
   width: 20%;
   height:21%;                                                                                                                                                                                                                                                         
}

.photos {
   text-align: center;
}